[Desktop Entry]
Type=Application
Name=Hardware Management (Drivers and Kernel)
Name[pt_BR]=Gerenciamento de Hardware (Drivers e Kernel)
Name[es]=Gestión de Hardware (Drivers y Kernel)
Name[bg]=Управление на хардуер (Драйвери и ядро)
Name[cs]=Správa hardwaru (Ovládače a jádro)
Name[da]=Hardwarestyring (Drivere og kerne)
Name[de]=Hardware-Verwaltung (Treiber und Kernel)
Name[el]=Διαχείριση υλικού (Προγράμματα οδήγησης και πυρήνας)
Name[et]=Riistvara haldamine (Draiverid ja kernel)
Name[fi]=Laitteistonhallinta (Ajurit ja ydin)
Name[fr]=Gestion du matériel (Pilotes et noyau)
Name[he]=ניהול חומרה (דרייברים וליבה)
Name[hr]=Upravljanje hardverom (Upravljački programi i kernel)
Name[hu]=Hardverkezelés (Illesztőprogramok és kernel)
Name[is]=Vélbúnaðarstjórnun (Drifar og kjarni)
Name[it]=Gestione hardware (Driver e kernel)
Name[ja]=ハードウェア管理（ドライバとカーネル）
Name[ko]=하드웨어 관리 (드라이버 및 커널)
Name[nl]=Hardwarebeheer (Stuurprogramma's en kernel)
Name[no]=Maskinvareadministrasjon (Drivere og kjerne)
Name[pl]=Zarządzanie sprzętem (Sterowniki i jądro)
Name[pt]=Gestão de Hardware (Drivers e Kernel)
Name[ro]=Gestionare hardware (Drivere și kernel)
Name[ru]=Управление оборудованием (Драйверы и ядро)
Name[sk]=Správa hardvéru (Ovládače a jadro)
Name[sv]=Maskinvaruhantering (Drivrutiner och kärna)
Name[tr]=Donanım Yönetimi (Sürücüler ve çekirdek)
Name[uk]=Керування обладнанням (Драйвери та ядро)
Name[zh]=硬件管理（驱动程序和内核）
Exec=big-driver-manager
Icon=big-driver-manager
Categories=BigApps;
StartupNotify=true
Terminal=false
