[Desktop Entry]
Type=Application
Name=Install kernel and mesa versions
Name[pt_BR]=Instalar versões de kernel e mesa
Name[es]=Instalar versiones de kernel y mesa
Name[bg]=Инсталиране на версии на ядрото и Mesa
Name[cs]=Nainstalovat verze jádra a Mesa
Name[da]=Installer kernel- og Mesa-versioner
Name[de]=Kernel- und Mesa-Versionen installieren
Name[el]=Εγκατάσταση εκδόσεων του πυρήνα και του Mesa
Name[et]=Kerneli ja Mesa versioonide installimine
Name[fi]=Asenna kernel- ja Mesa-versiot
Name[fr]=Installer les versions du noyau et de Mesa
Name[he]=התקנת גרסאות Kernel ו-Mesa
Name[hr]=Instaliraj verzije kernela i Mese
Name[hu]=Kernel és Mesa verziók telepítése
Name[is]=Setja upp kjarna- og mesaútgáfur
Name[it]=Installare versioni del kernel e di Mesa
Name[ja]=カーネルおよびMesaバージョンのインストール
Name[ko]=커널 및 메사 버전 설치
Name[nl]=Kernel- en Mesa-versies installeren
Name[no]=Installer kjerne- og Mesa-versjoner
Name[pl]=Zainstaluj wersje jądra i Mesa
Name[pt]=Instalar versões de kernel e mesa
Name[ro]=Instalați versiuni de kernel și Mesa
Name[ru]=Установить версии ядра и Mesa
Name[sk]=Nainštalovať verzie jadra a Mesa
Name[sv]=Installera kärn- och Mesa-versioner
Name[tr]=Çekirdek ve Mesa sürümlerini yükle
Name[uk]=Встановити версії ядра та Mesa
Name[zh]=安装内核和Mesa版本
Exec=big-kernel-manager
Icon=big-kernel-manager
Categories=BigApps;
StartupNotify=true
Terminal=false
NoDisplay=true
