[Desktop Entry]
Type=Application
Name=Hardware Information
Name[pt_BR]=Informações de Hardware
Name[es]=Información de Hardware
Name[bg]=Информация за хардуера
Name[cs]=Informace o hardwaru
Name[da]=Hardwareoplysninger
Name[de]=Hardwareinformationen
Name[el]=Πληροφορίες υλικού
Name[et]=Riistvara teave
Name[fi]=Laitteiston tiedot
Name[fr]=Informations matérielles
Name[he]=מידע על חומרה
Name[hr]=Informacije o hardveru
Name[hu]=Hardverinformációk
Name[is]=Upplýsingar um vélbúnað
Name[it]=Informazioni sull'hardware
Name[ja]=ハードウェア情報
Name[ko]=하드웨어 정보
Name[nl]=Hardware-informatie
Name[no]=Maskinvareinformasjon
Name[pl]=Informacje o sprzęcie
Name[pt]=Informações de Hardware
Name[ro]=Informații despre hardware
Name[ru]=Информация о оборудовании
Name[sk]=Informácie o hardvéri
Name[sv]=Hårdvaruinformation
Name[tr]=Donanım Bilgileri
Name[uk]=Інформація про апаратне забезпечення
Name[zh]=硬件信息
Exec=big-hardware-info
Icon=big-hardware-info
Categories=BigApps;
StartupNotify=true
Terminal=false
