[Desktop Entry]
Type=Application
Name=Drivers and firmwares
Name[pt_BR]=Drivers e firmwares
Name[es]=Controladores y firmwares
Name[bg]=Драйвери и фърмуери
Name[cs]=Ovladače a firmware
Name[da]=Drivere og firmwares
Name[de]=Treiber und Firmwares
Name[el]=Προγράμματα οδήγησης και υλικολογισμικά
Name[et]=Draiverid ja püsivara
Name[fi]=Ajurit ja laiteohjelmistot
Name[fr]=Pilotes et micrologiciels
Name[he]=דרייברים וקושחות
Name[hr]=Upravljački programi i firmveri
Name[hu]=Illesztőprogramok és firmware-ek
Name[is]=Drifar og vélbúnaðarhugbúnaður
Name[it]=Driver e firmware
Name[ja]=ドライバとファームウェア
Name[ko]=드라이버 및 펌웨어
Name[nl]=Stuurprogramma's en firmware
Name[no]=Drivere og fastvare
Name[pl]=Sterowniki i firmware
Name[pt]=Drivers e firmwares
Name[ro]=Drivere și firmware
Name[ru]=Драйверы и прошивки
Name[sk]=Ovládače a firmvér
Name[sv]=Drivrutiner och firmware
Name[tr]=Sürücüler ve donanım yazılımları
Name[uk]=Драйвери та мікропрограми
Name[zh]=驱动程序和固件
Exec=big-driver-manager
Icon=big-driver-manager
Categories=BigApps;
StartupNotify=true
Terminal=false
NoDisplay=true
